.App {
  text-align: center;
  background-image:url(./bk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 100%;
}




.icones{
  display: flex;
  justify-content: center;
  gap: 30px;
  
}
.ic{
  height: 30px;
  width: 25px;
}
.expense_liste{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.btnsucc{
  background-color:#bbded6;
  border-radius: 15px;
}
.btndan{
  background-color:#ffb6b9;
  border-radius: 15px;
}
.fr
{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.balance{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.644);
    height: 12x;
    font-size: 35px ;
    font-weight: bolder;
    
  color: #ffcab0;
  
}
.titreexpense{
  color:#db913c;
}
.form_name{
  border-radius: 5px;
  border: none;
 background-color: #fff8e0a2;
  border-bottom: #d1c9c089;
  height: 25px;
  width: 200px;
  margin-bottom: 10px;
}
.form_amount{
  border-radius: 5px;
  border: none;
  background-color: #fff8e0a2;
  border-bottom: #4d2d09;
  height: 25px;
  width: 200px;
}
.form_name .placeholder{
  color: #bfd968;
  align-items: center;
}
.s_text{
  color: #a55233;
}
.dn{
  width: 220px;
  height: 220px;
  align-items: center;
}
.d{
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.644);
  height: 12x;
  font-size: 35px ;
  font-weight: bolder;
  
color: #ffcab0;
}
.asd{
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 60%;
}
.global{
  display: flex;
  gap: 120px;
  align-items: center;
}
.asd{
  left: 20%;
}